<p>Hello World</p>
<h2>Text Settings</h2>
<p>{{ section.settings.text_setting }}</p>

<h2>Text area Settings</h2>
{% comment %} filter allows newline to display as seperate {% endcomment %}
<p>{{ section.settings.textarea_setting |  newline_to_br }}</p>

<h2>Rich Text Settings</h2>
{% comment %} wrap in div, since richtext adds html itself {% endcomment %}
<div>{{ section.settings.richtext_setting }}</div>

<h2>Inline Richtext Settings</h2>
<div>{{ section.settings.inline_richtext_setting }}</div>

<h2>Number Settings</h2>
<p>{{ section.settings.number_setting }}</p>

{% schema %}
  {
    "name": "Sections Tutorial",
    "tag": "section",
    "class": "section-tutorial",
    "limit": 2,
    "settings": [
        {
            "type": "text",
            "id": "text_setting",
            "label": "Theme Settings",
            "default": "This is my first setting",
            "info": "This is some helper text",
            "placeholder": "This a placehold"

        },
        {
            "type": "textarea",
            "id": "textarea_setting",
            "label": "Text Area Setting",
            "placeholder": "This a placehold"
        },
        {
            "type": "richtext",
            "id": "richtext_setting",
            "label": "RichText Setting"
        },
        {
            "type": "inline_richtext",
            "id": "inline_richtext_setting",
            "label": "Inline Richtext Setting"
        },
        {
            "type": "number",
            "id": "number_setting",
            "label": "Number Setting",
            "placeholder": "0"
        }

    ],
    "blocks": [

    ],
    "presets": [
        {
            "name": "Section Tutorial",
            "settings": {}
        }
    ]
  }
{% endschema %}