<p>Hello World</p>
<h2>Text Settings</h2>
<p>{{ section.settings.text_setting }}</p>

<h2>Text area Settings</h2>
{% comment %} filter allows newline to display as seperate {% endcomment %}
<p>{{ section.settings.textarea_setting | newline_to_br }}</p>

<h2>Rich Text Settings</h2>
{% comment %} wrap in div, since richtext adds html itself {% endcomment %}
<div>{{ section.settings.richtext_setting }}</div>

<h2>Inline Richtext Settings</h2>
<div>{{ section.settings.inline_richtext_setting }}</div>

<h2>Number Settings</h2>
<p>{{ section.settings.number_setting }}</p>

<h2>Range Settings</h2>
<p>{{ section.settings.range_setting }}</p>

<h2>Select Settings</h2>
<p>{{ section.settings.select_setting }}</p>


<h2>Checkbox Settings</h2>
{% if section.settings.checkbox_setting == true %}
  <p>Checkbox is true</p>
{% else %}
  <p>Checkbox is false</p>
{% endif %}

<h2>Radio Settings</h2>
<p>{{ section.settings.radio_setting }}</p>

<h2>
  Color Settings</h2>
{% comment %} default is a hex {% endcomment %}
{% comment %} its a color object, so u could get more values {% endcomment %}
<p style="color: {{ section.settings.color_setting }};">{{ section.settings.color_setting }}</p>

<div style="background: {{ section.settings.bgcolor_setting }};">
  <h2>Background Color Settings</h2>
  {% comment %} outputs a string NOT an object {% endcomment %}
  <p>{{ section.settings.bgcolor_setting }}</p>
</div>

 

{% if section.settings.image_setting %}
    <h2> Image Picker Settings</h2>
    {{ 
    section.settings.image_setting 
    | image_url: width: 400 
    | image_tag: style: 'height: 200px; object-fit: cover;'}}
    
{% endif %}

<div>
    <h2>Video Settings</h2>
    {{ section.settings.video_setting |  video_tag: controls: true, style: 'height: 300px; width: 500px;'}}
</div> 

{% comment %} <h2> Settings</h2> {% endcomment %}
{% comment %} <p>{{ section.settings }}</p>  {% endcomment %}



{% schema %}
  {
    "name": "Sections Tutorial",
    "tag": "section",
    "class": "section-tutorial",
    "limit": 2,
    "settings": [
      {
        "type": "text",
        "id": "text_setting",
        "label": "Theme Settings",
        "default": "This is my first setting",
        "info": "This is some helper text",
        "placeholder": "This a placehold"
      },
      {
        "type": "textarea",
        "id": "textarea_setting",
        "label": "Text Area Setting",
        "placeholder": "This a placehold"
      },
      {
        "type": "richtext",
        "id": "richtext_setting",
        "label": "RichText Setting"
      },
      {
        "type": "inline_richtext",
        "id": "inline_richtext_setting",
        "label": "Inline Richtext Setting"
      }, {
        "type": "number",
        "id": "number_setting",
        "label": "Number Setting",
        "placeholder": "0"
      }, {
        "type": "range",
        "id": "range_setting",
        "label": "Range Setting",
        "min": 50,
        "max": 150,
        "step": 5,
        "unit": "px",
        "default": 60
      }, {
        "type": "select",
        "id": "select_setting",
        "label": "Select Setting",
        "options": [
          {
            "value": "value-1",
            "label": "Value One",
            "group": "group-1"
          }, {
            "value": "value-2",
            "label": "Value Two",
            "group": "group-1"
          }, {
            "value": "value-3",
            "label": "Value Three",
            "group": "group-2"
          }, {
            "value": "value-4",
            "label": "Value Four",
            "group": "group-2"
          }
        ]
      }, {
        "type": "checkbox",
        "id": "checkbox_setting",
        "label": "Checkbox Setting",
        "default": true
      }, {
        "type": "radio",
        "id": "radio_setting",
        "label": "Radio Setting",
        "options": [
          {
            "value": "value-1",
            "label": "Value One"
          }, {
            "value": "value-2",
            "label": "Value Two"
          }, {
            "value": "value-3",
            "label": "Value Three"
          }
        ]
      }, {
        "type": "color",
        "id": "color_setting",
        "label": "Color Setting"
      }, {
        "type": "color_background",
        "id": "bgcolor_setting",
        "label": "Color Background Setting"
      },
       {
        "type": "image_picker",
        "id": "image_setting",
        "label": "Image Picker Setting"
      },
      {
        "type": "video",
        "id": "video_setting",
        "label": "Video Setting"
      }


    ],
    "blocks": [],
    "presets": [
      {
        "name": "Section Tutorial",
        "settings": {}
      }
    ]
  }
{% endschema %}