{% assign products = section.blocks |  where: "type", "section_product" %}
{% assign collections = section.blocks |  where: "type", "section_Collection" %}

<h2>Product</h2>
{% for product in products %}
  {% assign title = product.settings.title | default: product.settings.product.title %}
  {% assign image = product.settings.image | default: product.settings.product.featured_image %}

  <div {{ product.shopify_attributes }}>
    <p {{ product.shopify_attributes }}>{{ title }}</p>
  {% if image %}
    <div>
    {{ image | image_url: width: 200 | image_tag }}
  </div>
  {% endif %}
 </div>
{% endfor %}

<h1>Some Other COntent</h1>
<br>
  <h2>Collections</h2>
  {% for collection in collections %}
    {% assign title = collection.settings.title | default: collection.settings.collection.title %}
    {% assign image = collection.settings.image | default: collection.settings.collection.featured_image %}
  
    <div {{ collection.shopify_attributes }}>
      <p {{ collection.shopify_attributes }}>{{ title }}</p>
    {% if image %}
      <div>
      {{ image | image_url: width: 200 | image_tag }}
    </div>
    {% endif %}
   </div>
  {% endfor %}


{% schema %}
  {
    "name": "Sections Tutorial",
    "tag": "section",
    "class": "section-tutorial",
    "limit": 2,
    "settings": [
      {
        "type": "text",
        "id": "text_setting",
        "label": "Theme Settings",
        "default": "This is my first setting",
        "info": "This is some helper text",
        "placeholder": "This a placehold"
      },
      {
        "type": "textarea",
        "id": "textarea_setting",
        "label": "Text Area Setting",
        "placeholder": "This a placehold"
      },
      {
        "type": "richtext",
        "id": "richtext_setting",
        "label": "RichText Setting"
      },
      {
        "type": "inline_richtext",
        "id": "inline_richtext_setting",
        "label": "Inline Richtext Setting"
      }, {
        "type": "number",
        "id": "number_setting",
        "label": "Number Setting",
        "placeholder": "0"
      }, {
        "type": "range",
        "id": "range_setting",
        "label": "Range Setting",
        "min": 50,
        "max": 150,
        "step": 5,
        "unit": "px",
        "default": 60
      }, {
        "type": "select",
        "id": "select_setting",
        "label": "Select Setting",
        "options": [
          {
            "value": "value-1",
            "label": "Value One",
            "group": "group-1"
          }, {
            "value": "value-2",
            "label": "Value Two",
            "group": "group-1"
          }, {
            "value": "value-3",
            "label": "Value Three",
            "group": "group-2"
          }, {
            "value": "value-4",
            "label": "Value Four",
            "group": "group-2"
          }
        ]
      }, {
        "type": "checkbox",
        "id": "checkbox_setting",
        "label": "Checkbox Setting",
        "default": true
      }, {
        "type": "radio",
        "id": "radio_setting",
        "label": "Radio Setting",
        "options": [
          {
            "value": "value-1",
            "label": "Value One"
          }, {
            "value": "value-2",
            "label": "Value Two"
          }, {
            "value": "value-3",
            "label": "Value Three"
          }
        ]
      }, {
        "type": "color",
        "id": "color_setting",
        "label": "Color Setting"
      }, {
        "type": "color_background",
        "id": "bgcolor_setting",
        "label": "Color Background Setting"
      },
       {
        "type": "image_picker",
        "id": "image_setting",
        "label": "Image Picker Setting"
      },
      {
        "type": "video",
        "id": "video_setting",
        "label": "Video Setting"
      },
      {
        "type": "video_url",
        "id": "videoURL_setting",
        "label": "Video URL Setting",
        "accept": [
            "youtube"
        ]
      },
      {
        "type": "url",
        "id": "URL_setting",
        "label": "URL Setting"
      },
      {
        "type": "html",
        "id": "html_setting",
        "label": "HTML Setting"
      },
      {
        "type": "liquid",
        "id": "liquid_setting",
        "label": "Liquid Setting"
      },
        {
          "type": "header",
          "content": "SIze ReSources Settings",
          "info": "Setting related to shopify resourses"
        },
      {
        "type": "product",
        "id": "product_setting",
        "label": "Product Setting"
      },
      {
        "type": "product_list",
        "id": "product_list_setting",
        "label": "Product List Setting",
        "limit": 10
      },
      {
        "type": "collection",
        "id": "collection_setting",
        "label": "Collection Setting"
      },
      {
        "type": "collection_list",
        "id": "collection_list_setting",
        "label": "Collection List Setting",
        "limit": 10
      },
      {
        "type": "page",
        "id": "page_setting",
        "label": "Page Setting"
      }, {
        "type": "article",
        "id": "article_setting",
        "label": "Article Setting"
      },
      {
        "type": "blog",
        "id": "blog_setting",
        "label": "Blog Setting"
      },
      {
        "type": "link_list",
        "id": "link_setting",
        "label": "Link Setting"
      },
      {
          "type": "select",
          "label": "Title Alignment",
          "id": "title_alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
           
          ],
          "default": "left"
        },
        {
            "type": "font_picker",
          "label": "Font Settings",
          "id": "font_settings",
           "default": "assistant_n4"
        }
    ],
    "blocks": [
      {
        "type": "section_product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "label": "Product",
            "id": "product"
          },
          {
            "type": "text",
            "label": "Title",
            "id": "title",
            "info": "Option. Will override Product Title"
          },
          {
            "type": "image_picker",
            "label": "Iage",
            "id": "image",
            "info": "Option. Will override Product Image"
          }
        ],
        "limit": 5
      },
      {
        "type": "section_Collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "label": "Collection",
            "id": "collection"
          },
          {
            "type": "text",
            "label": "Title",
            "id": "title",
            "info": "Option. Will override Collection Title"
          },
          {
            "type": "image_picker",
            "label": "Iage",
            "id": "image",
            "info": "Option. Will override Collection Image"
          }
        ],
        "limit": 5
      }
    ],
    "presets": [
      {
        "name": "Section Tutorial",
        "settings": {}
      }
    ]
  }
{% endschema %}